<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://thymeleaf/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Products - Shoppinger Admin', 'none')"/>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Products</h2>
        <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
        <a th:href="@{/products/new}" class="fas fa-folder-plus fa-2x icon-blue mr-2"></a>
        <a th:href="@{products/export/csv}" class="fas fa-file-csv fa-2x icon-green mr-2"></a>
        &nbsp; &nbsp;</th:block>
    </div>

    <div>

        <form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">

            Category: &nbsp;
            <select class="form-control" name="categoryId" id="dropdownCategory">
                <option value="0">All Categories</option>
                <th:block th:each="category : ${categoryList}">
                    <option th:value="${category.id}" th:selected="(${categoryId} == ${category.id})">[[${category.name}]]</option>
                </th:block>
            </select>


            <label>Filter: &nbsp; </label> &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" />
            &nbsp;&nbsp;
            <button type="submit" value="search" class="btn btn-secondary">
                <i class="fas fa-search  icon-white"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" value="Clear" onclick="clearFilter()" class="btn btn-secondary">
                <i class="fas fa-eraser  icon-white"></i>
            </button>

        </form>
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
             <th th:replace="fragments :: column_link('id','Product ID','none')"/>
                <th> Main Image</th>
                <th th:replace="fragments :: column_link('name','Product Name','none')"/>
              <th th:replace="fragments :: column_link('brand','Brand','none')"/>
               <th th:replace="fragments :: column_link('category','Category','none')"/>
                <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                <th>Enabled</th>
                </th:block>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td>[[${product.id}]]</td>
                <td>
                    <img th:src="@{${product.mainImagePath}}" style="width: 120px " class="img-fluid">
                </td>

                <td>
                   <a  class="link-detail" th:href="@{'/products/detail/'+${product.id}}"
                      th:title="${product.name}"> [[${product.shortName}]]</a>
                </td>
                <td >[[${product.brand.name}]]</td>
                <td >
                    [[${product.category.name}]]
                </td>
                <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                <td>
                    <div th:replace="fragments :: status(${product.enabled},'product','/products/'+ ${product.id})"></div>
                </td>
                </th:block>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                    th:href="@{'/products/detail/'+${product.id}}"
                    title="View details of this product"></a>
                    &nbsp;    <th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson')">
                    <div th:replace="fragments :: edit('product','/products/edit/'+${product.id})"></div>
                </th:block>
                    &nbsp;&nbsp;
                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                    <div th:replace="fragments :: delete('product',${product.id},'/products/delete/'+${product.id},true)"></div>
                </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="less-details">
        <div th:each="product : ${productList}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${product.mainImagePath}}" style="width: 120px " class="img-fluid">
            </div>
            <div class="col-8">
                <div>  <a  class="link-detail" th:href="@{'/products/detail/'+${product.id}}"
                           th:title="${product.name}"> [[${product.shortName}]]</a></div>
                <div class="mt-2">
                    [[${product.brand.name}]] / [[${product.category.name}]]
                </div>
                <div class="mt-2">
                    <div th:replace="fragments :: status(${product.enabled},'product','/products/'+ ${product.id})"></div>
                    <a class="fas fa-file-alt fa-2x icon-green"
                       th:href="@{'/products/detail/'+${product.id}}"
                       title="View details of this product"></a>
                    <div th:replace="fragments :: edit('product','/products/edit/'+${product.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('product',${product.id},'/products/delete/'+${product.id},true)"></div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>



    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('products')"></div>

    <div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = " [[@{/products}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'product');
        });
        $(".link-detail").on("click", function (e){
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });

        $("#dropdownCategory").on("change",function (){
            $("#searchForm").submit();
        });
    });


</script>
</body>
</html>